<html>
	<head>
		<title>Issoumann</title>
		<meta charset="utf-8">
		<link href="../css/accueil.css" rel="stylesheet" type="text/css">
		<link href="../css/general.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div style="text-align: center">
		<img src="../ajout_image/Issoumann_logo.png" align="center">
		</div>
		<!--Insérer logo de Issoumann.de-->
		<div class="boite">
		
		<form action="../php/connexion.php" method="POST">
			
			<h1>Issoumann.de</h1>
			
			<label for="login">E-mail : </label></label>
			<input type="text" name="login" placeholder="Entrer votre e-mail" required>
			
			<label for="passwd">Mot de passe : </label>
			<input type="password" name="passwd" placeholder="Entrer votre mot de passe" required>
			
			<input type="submit" name="connexion" value="Connexion"/>
			
		</form>
		</div>
	</body>
</html>
